@model IEnumerable<Author>

@{
    ViewData["Title"] = "List of Authors";
    Pager<Author> curPageAuthors = ViewData["curPage"] as Pager<Author>;
    var prevDisabled = !curPageAuthors.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !curPageAuthors.HasNextPage ? "disabled" : "";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(model => model.ProfileURL)</th>
                    <th class="align-middle">@Html.DisplayNameFor(model => model.Name)</th>
                    <th class="align-middle">@Html.DisplayNameFor(model => model.Age)</th>
                    <th class="align-middle">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var author in curPageAuthors)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@author.ProfileURL" alt="@author.Name" style="max-width: 150px"/>
                        </td>

                        <td class ="align-middle">
                            @Html.DisplayFor(modelItem => author.Name)
                        </td>

                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => author.Age)
                        </td>

                        <td class="align-middle">
                            @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="btn btn-outline-primary" asp-controller="Authors" asp-action="Edit" asp-route-id="@author.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                            }
                            <a class="btn btn-outline-info" asp-controller="Authors" asp-action="Details" asp-route-id="@author.Id"><i class="bi bi-eye"></i>Details</a>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="btn btn-outline-danger" asp-controller="Authors" asp-action="Delete" asp-route-id="@author.Id"><i class="bi bi-trash"></i>Delete</a>    
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="container">
            <a asp-action="Index" asp-route-pageNumber="@(curPageAuthors.PageIndex - 1)" class="btn btn-defualt @prevDisabled">Previous</a>
            <a asp-action="Index" asp-route-pageNumber="@(curPageAuthors.PageIndex + 1)" class="btn btn-defualt @nextDisabled">Next</a>
        </div>
    </div>
</div>

@await Html.PartialAsync("_Createitem", "Authors")