@model IEnumerable<Publisher>

@{
    ViewData["Title"] = "List of Publishers";
}

<div class="row">
    <div class="col-md-9 offset-1">
        <table class="table">
            <thead>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(model => model.LogoURL)</th>
                    <th class="align-middle">@Html.DisplayNameFor(model => model.Name)</th>
                    <th class="align-middle">@Html.DisplayNameFor(model => model.Email)</th>
                    <th class="align-middle">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var publisher in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@publisher.LogoURL" alt="@publisher.Name" style="max-width: 150px" />
                        </td>

                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => publisher.Name)
                        </td>

                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => publisher.Email)
                        </td>

                        <td class="align-middle">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="btn btn-outline-primary" asp-controller="Publishers" asp-action="Edit" asp-route-id="@publisher.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                            }
                            <a class="btn btn-outline-info" asp-controller="Publishers" asp-action="Details" asp-route-id="@publisher.Id"><i class="bi bi-eye"></i>Details</a>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="btn btn-outline-danger" asp-controller="Publishers" asp-action="Delete" asp-route-id="@publisher.Id"><i class="bi bi-trash"></i>Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@await Html.PartialAsync("_CreateItem", "Publishers")