@model Book

@{
    ViewData["Title"] = "Delete a book";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-black">
                        <p class="card-text">
                            <h5 class="card-title">
                                Delete @Model.Title?
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.BookCover" width="100%" alt="@Model.Title">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Summary</p>
                        <p class="card-text">
                            <b>Publisher: </b>
                            <a asp-controller="Publishers" asp-action="Details" asp-route-id="@Model.PublisherId">
                                @Model.Publisher.Name
                            </a>
                        </p>
                        <p class="card-text"><b>Genre: </b>@Model.Genre</p>
                        <p class="card-text"><b>Publish Date: </b>@Model.PublishDate.ToString("dd MMM yy")</p>
                        <p class="card-text" style="display: inline">
                            <b style="max-width: 50px">Available at: </b>
                            @foreach (var bookstore in Model.BookStores_Books)
                            {
                                <div style="display: inline">
                                    <a asp-controller="BookStores" asp-action="Details" asp-route-id="@bookstore.BookStoreId">
                                        @bookstore.BookStore.Name
                                    </a>
                                    <p style="display: inline">-</p>
                                </div>
                            }
                        </p>

                        <p class="card-text">
                            <b>Authors: </b>
                        </p>
                    </div>
                </div>
                <hr />
                <div class="row" style="margin-left: 265px">
                    @foreach (var author in Model.Authors_Books)
                    {
                        <div class="column" style="max-width: 150px">
                            <img class="border-info rounded-circle" src="@author.Author.ProfileURL" style="max-width: 120px" />
                            <br />
                            <div class="text-center">
                                <a asp-controller="Authors" asp-action="Details" asp-route-id="@author.AuthorId">@author.Author.Name</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-12">
                    <div>
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-end" asp-action="Index">
                                Back to list
                            </a>
                            <form asp-action="Delete" style="max-width: 4px">
                                <input class="btn btn-danger float-start" type="submit" value="Confirm"/>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
