@model IEnumerable<Book>

@{
    ViewData["Title"] = "Available books";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-2 col-xs-3 border-primary mb-3">
            <a class="btn text-primary" asp-action="Edit" asp-route-id="@item.Id" style="font-size: 15px; margin-bottom: 5px"><i class="bi bi-pencil-square"></i></a>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-black bg-light">
                            <p class="card-title" style="font-size: 14px">
                                @{
                                    if(item.Title.Length < 30)
                                    {
                                        <b>@item.Title<br /></b>
                                    }
                                    else
                                    {
                                        <b>@item.Title</b>
                                    }
                                }
                            </p>
                        </div>
                        <img src="@item.BookCover" width="100%" alt="@item.Title">
                    </div>
                        
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-success text-white col-md-12" asp-controller="Orders" asp-action="AddToShoppingCart" asp-route-id="@item.Id" style="font-size: 12px; margin-bottom: 5px"><i class="bi bi-cart-plus"></i> Add (Price @item.Price.ToString("C"))</a>
                                <a class="btn btn-outline-primary float-end col-md-12" asp-action="Details" asp-route-id="@item.Id" style="font-size: 15px; margin-bottom: 5px"><i class="bi bi-eye-fill"></i> Show Details</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_Createitem", "Books")