@model BookStore

@{
    ViewData["Title"] = "Bookstore card";
}

<div class="card" style="max-width: 950px;">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12" style="display: inline-flex">
                <img class="col-md-3" src="@Model.LogoURL" alt="@Model.Name">
                <div class="col-md-7 offset-md-1" style="margin-top: 30px">
                    <h5><b>Where is @Model.Name?</b></h5>
                    <p class="card-text" style="justify-content: center; margin-top: 40px">
                        @Model.Address
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-body" style="font-size: 15px">
                    <p class="card-text"><b>Name: </b>@Model.Name</p>
                    <p class="card-text"><b>Telephone: </b>@Model.Telephone</p>
                </div>
            </div>
        </div>
    </div>
    <footer col-md-8 offset-md-2>
        <a asp-action="Index" class="btn btn-outline-secondary float-start">Return</a>
        @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info float-end"><i class="bi bi-pencil-square"></i> Edit</a>
        }
    </footer>
</div>
