@model IEnumerable<BookStore>

@{
    ViewData["Title"] = "List of Bookstores";
    int pageIndex = (int)ViewData["pageIndex"];
    int totalPages = (int)ViewData["TotalPages"];
    var prevDisabled = !(pageIndex > 1) ? "disabled" : "";
    var nextDisabled = !(pageIndex < totalPages) ? "disabled" : "";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <table class="table">
            <thead>
                <tr class="align-middle">
                    <th>@Html.DisplayNameFor(model => model.LogoURL)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bookStore in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@bookStore.LogoURL" alt="@bookStore.Name" style="max-width: 150px" />
                        </td>

                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => bookStore.Name)
                        </td>

                        <td class="align-middle">
                            @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="btn btn-outline-primary" asp-controller="BookStores" asp-action="Edit" asp-route-id="@bookStore.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                            }
                            <a class="btn btn-outline-info" asp-controller="BookStores" asp-action="Details" asp-route-id="@bookStore.Id"><i class="bi bi-eye"></i>Details</a>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="btn btn-outline-danger" asp-controller="BookStores" asp-action="Delete" asp-route-id="@bookStore.Id"><i class="bi bi-trash"></i>Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="container" style="margin-left:560px">
    <a asp-action="Index" asp-route-pageNumber="@(pageIndex - 1)" class="btn btn-primary @prevDisabled">Prev</a>
    <a asp-action="Index" asp-route-pageNumber="@(pageIndex + 1)" class="btn btn-primary @nextDisabled">Next</a>
</div>
@await Html.PartialAsync("_CreateItem", "BookStores")