@model IEnumerable<BookStore>

@{
    ViewData["Title"] = "List of Bookstores";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.LogoURL)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var author in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@author.LogoURL" alt="@author.Name" style="max-width: 150px" />
                        </td>

                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => author.Name)
                        </td>

                        <td>
                            <a class="btn btn-outline-primary" asp-controller="BookStores" asp-action="Edit" asp-route-id="@author.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                            <a class="btn btn-outline-info" asp-controller="BookStores" asp-action="Details" asp-route-id="@author.Id"><i class="bi bi-eye"></i>Details</a>
                            <a class="btn btn-outline-danger" asp-controller="BookStores" asp-action="Delete" asp-route-id="@author.Id"><i class="bi bi-trash"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>